/* color pallet:
#93BFCF
*/
body{
    background-repeat: no-repeat;
    background-size: cover;
}
.primeira-div{
    background: linear-gradient(to right, #93BFCF, #b3c7ce);
}
h1{
    font-family: "Lobster";
    font-size: 5vw;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
h2{
    font-family: "Dancing Script";
    font-size: 3.2vw;
    color: #b1e4f8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    margin-bottom: 50vh;
}
.intro-p{
    margin-top: 5vh;
    font-size: 3em;
}
.conteudo-p{
    font-size: 1.2em;
}
.segunda-div{
    background: white;
    text-align: center;
    padding-top: 8vh;
    height: auto;
}
ul > li {
    font-size: 2vw;
    text-align: left;
}
.profile{
    width: 15vh; 
    height: 15vh;
    border-radius: 50%; 
    object-fit: cover;
}
.image-container{
    display: flex;
    justify-content: center;
}
.image-container2{
    display: flex;
    justify-content: right;
}
.mountain-img{
    max-width: 60%;
    height: auto;
}
.paperplane{
    max-width: 25%;
    height: auto;
}
.links-uteis{
    margin-top: 20vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75vw;
}
li{
    list-style-type: none;
}
.meu-link{
    padding-left: 2vw;
}
.meu-link > a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.meu-link >  a:hover{
    color: rgb(52, 104, 216);
}
.segunda-div > a{
    text-decoration: underline;
    text-align: center;
    color: black;
    font-size: 2vw;
    font-weight: 600;
    font-style: italic;
}
.segunda-div > a:hover{
    color: rgb(67, 125, 250);
}
hr{
    width: 40vw;
    height: 4px;
}
footer > a{
    padding-bottom: 10vh;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}
footer > a:hover{
    text-decoration: none;
    color: rgba(36, 213, 219, 0.822);
}
.icon{
    width: 3.5vw;
}

