/* color pallet:
#93BFCF
*/
body{
    background: linear-gradient(to right, #93BFCF, #b3c7ce);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: "Lobster";
    font-size: 5vw;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
h2{
    font-family: "Dancing Script";
    font-size: 3.2vw;
    color: #b1e4f8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    margin-bottom: 50vh;
}
a {
    padding-bottom: 2em;
}
.intro-p{
    margin-top: 5vh;
    font-size: 3em;
}
.conteudo-p{
    font-size: 1.2em;
}
.second-div{
    background: white;
    text-align: center;
    padding-top: 8vh;
    height: auto;
}
.profile{
    width: 15vh; 
    border-radius: 50%; 
    object-fit: cover;
}
.image-container{
    display: flex;
    justify-content: center;
}
.image-container2{
    display: flex;
    justify-content: right;
}
.mountain-img{
    max-width: 60%;
    height: auto;
}
.paperplane{
    max-width: 25%;
    height: auto;
}
.links-uteis{
    margin-top: 30vh;
    margin-left: 45%;
    text-align: left;
}


