/* color pallet:
#93BFCF
*/
body{
    background-repeat: no-repeat;
    background-size: cover;
}
.first-div{
    background: linear-gradient(to right, #93BFCF, #b3c7ce);
}
h1{
    font-family: "Lobster";
    font-size: 5vw;
    color: white;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
h2{
    font-family: "Dancing Script";
    font-size: 3.2vw;
    color: #b1e4f8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    margin-bottom: 50vh;
}
.intro-p{
    margin-top: 5vh;
    font-size: 3em;
}
.conteudo-p{
    font-size: 1.2em;
}
.second-div{
    background: white;
    text-align: center;
    padding-top: 8vh;
    height: auto;
}
.profile{
    width: 15vh; 
    border-radius: 50%; 
    object-fit: cover;
}
.image-container{
    display: flex;
    justify-content: center;
}
.image-container2{
    display: flex;
    justify-content: right;
}
.mountain-img{
    max-width: 60%;
    height: auto;
}
.paperplane{
    max-width: 25%;
    height: auto;
}
.links-uteis{
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: left;
}
li{
    list-style-type: none;
}
hr{
    width: 40vw;
    height: 4px;
}
.tecnologias{
    text-align: left;
    margin-left: 40vw;
}
@media (max-width: 1200px){
    .tecnologias{
        margin-left: 30vw;
    }
}
@media (max-width: 700px){
    .tecnologias{
        margin-left: 22vw;
    }
}
@media (max-width: 1000px){
    .links-uteis{
        margin-left: 37vw;
    }
}
@media (max-width: 600px ){
    .links-uteis{
        margin-left: 33%;
    }
}
@media (max-width: 400px ){
    .links-uteis{
        margin-left: 27%;
    }
    .tecnologias{
        margin-left: 15vw;
    }
}

